@model RuyaTabir.Models.api.ChatDto
@{ 
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
    
<div style="background-color:#ffffff"> 
    <label>@ViewBag.Result</label>

</div>
<br />
<a href="/Tabir/YeniRuya" class="btn btn-success">Yeni Rüya</a>

